body{
    margin: 0;
}

.header{
    background-color: darkslateblue;
    /* padding: 15px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: darkslateblue;
    padding: 15px;
    text-align: center;
    color: white;
}

#logoimg{
    display: flex;
    justify-content: start;
    width: 125px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 105;
  }
  
  .content-container{
      padding-bottom: 5%;
    }
    
    .nav{
        display: flex;
        justify-content: center;
    
    }
    .nav a{
        display: flex;
        text-decoration: none;
        color: white;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .nav a:hover{
        color: orange;
        transition: 0.3s ease;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: darkslateblue;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding-top: 10px;
        z-index: 1;
    }
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Change color of dropdown links on hover */
    /* .dropdown-content a:hover {
        background-color: rgb(66, 66, 66);
    } */
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropcharacter {
        color: orange;
        transition: 0.3s ease;
    }

h3{
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h4{
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.content-upper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5%;
}

.content-middle{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5%;
}

.content-lower{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.content img{
    width: 300px;
    margin-top: 10%;
}

.name{
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.char{
    display: flex;
    justify-content: center;
}

.char-content{
    display: flex;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 7%
}

.char-content-left img{
    width: 400px;
}

.char-content-right p{
    width: 100%;
    padding-left: 12%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}